@CHARSET "EUC-KR";
body{
   background-color: #ffffff;
   margin:0;
}
#tablestyleAlarm {width : 100%; height : 100%; background-color: #ffffff;}
#tablestyleAlarm td {height : 100px; border-bottom : 2px solid #000000;}
#tablestyleAlarm_b {width : 100%; height : 100%; background-color: #ffffce;}