a{text-decoration: none;}
a:link{color:white;}
a:visited{color:white; }
a:hover{color:white;}
a:active{color:white;}
li{list-style:none;}

header {
    background-color:#0D378C;
    padding: 10px 40px;
}
header .spot{position: absolute; right:50px; top: 15px; }
header .spot li{float: left; padding: 0 10px;}

#bell {width: 20px; height: 20px;}
#isLogin{color:white;}

<!-- 占쎈쐻占쎈윪占쎈츐占쎈쐻占쎈윥�뙴湲븍쐪筌먲옙占쏙옙�뜝�럩援뀐옙�쐻占쎈윪占쎌벀占쎈쐻占쎈윥占쎈㎍占쎈쐻占쎈윥占쎌몝�뜝�럩堉뀐옙�굲 -->
#thisform {font-size:12px; color:#999;}

#thisform fieldset {border:1px solid #ccc; padding:10 20px; margin: 10px;}

#thisform div {margin:5px;}

<!--main -->

#fixed-logo{
    position:fixed;
    top: 100x;
    left: 200px;
}

#wrapper2 {
    width:100%;
    height:500px;
    background:#000;
}

#frame2 {
    display: inline-block;
    width:100%;
    height:500px;
    background: plum;
    position:relative;
}
.img-wrapper2 {
    width:100%;
    height:100%;
    position:absolute;
    cursor:pointer;
}
.img-wrapper2 img {
    width:50%;
    height:inherit;
}
.sports{top:0; left:0;}
.esports {top:0; left:50%;}
.darkness2 {
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:inherit;
    background:#000000;
    opacity:0;
    transition:all .2s linear;
}
.btn-plus2 {
    position:absolute;
    top:50%;
    left:22%;
    text-align:center;
    opacity:0;
    transform:scale(2);
    transition:all .3s linear;
}
.btn-plus2 span {
    text-align: center;
    font-size:30px;
    color:#ffffff;
    user-select:none;
}
.img-wrapper2:hover .darkness2{
    opacity:0.8;
}
.img-wrapper2:hover .btn-plus2 {
    opacity:1;
    transform:scale(1);
}

<!-- 占쎈쐻占쎈윥占쎈㎍占쎈쐻占쎈윥占쎌몗占쎈쐪筌먦끉�룯�뜝�럩留띰옙�쐻占쎈윥占쎌몗輿삳뿫遊욕뜝�뜫猷귨옙釉멨뜝�럡援�占쎈쐻占쎈윪�뤃占� 4占쎈쐻占쎈윥鸚롤껊쐻占쎈윥筌앸ŀ�쐻占쎈윪�뤃占� -->
#wrapper {
    width:100%;
    height:500px;
    background:#000;
}
#frame {
    display: inline-block;
    width:100%;
    height:500px;
    background:#000;
    position:relative;
}
.img-wrapper {
    width:100%;
    height:100%;
    position:absolute;
    cursor:pointer;
}
.img-wrapper img {
    width:25%;
    height:inherit;
}

.img1 {top:0; left:0;}
.img1:hover{ }
.img2 {top:0; left:25%;}
.img3 {top:0; left:50%;}
.img4 {top:0; left:75%;}


.darkness {
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:inherit;
    background:#000000;
    opacity:0;
    transition:all .2s linear;
}
.btn-plus {
    position:absolute;
    top:20%;
    left:20%;
    text-align:center;
    horiz-align: center;
    vertical-align: center;
    opacity:0;
    transform:scale(2);
    transition:all .3s linear;
}
.btn-plus span {
    text-align: center;
    font-size:30px;
    color:#ffffff;
    user-select:none;
}
.img-wrapper:hover .darkness{
    opacity:0.8;
}
.img-wrapper:hover .btn-plus {
    opacity:1;
    transform:scale(1);
}

<!--Board-->

.table-wrapper{
	padding:20px;
    margin: 50px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2);
    display: table-cell;
  	vertical-align: middle;
  	text-align: center;
}
.fl-table {
    font-size: 12px;
    font-weight: normal;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    }
.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
    border-top: 1px solid #838485;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
    border-bottom: 1px solid #A2A2A3;
}
}

.fl-table th {
	font-size: 15px;
    color: #000000;
}
.container {
  width: 70%;
  height: 70%;
  margin: 40px auto;
  
}.outer {
  display: table;
  width: 100%;
  height: 100%;
  margin:auto;
 }

.check{
	display:inline;
	}
.randombutton {
  border: 1px solid #c0c0c0;
  color: #004040;
  background-color:#ffffff;
  font-size:20px;
  border-radius:5px;
  margin:10px;
  width: 20%;
  height:50px; 
}
#sg-a:link{color:black;}
#sg-a:visited{color:black; }
#sg-a:hover{color:black;}
#sg-a:active{color:black;}

<!--ShowGameroom-->
.sg-container {
  width: 70%;
  height: 70%;
  margin: 40px auto;
  
}.sg-outer {
  display: table;
  width: 70%;
  height: 70%;
  margin:auto;
  border:1px;
 }
.sg-top{
	display: inline;
}
.sg-top span{
	margin-right:10px;
}
#sg-title{
	color:#004040
}
#sg-d{
	font-size:x-small;
	color:grey;
	text-align:right;
	float: right;
}

#last{background : #efefef; width : 300px; height : 50px;}
#title{height : 50px; text-align:center; font-weight: bold; font-size : 1.2em; background : linear-gradient(to bottom,white,#eeeeee);}
#captionstyle {text-align:left; border-bottom : 1px solid #efefef;}
#tablestyle {width : 90%; height : 70%; border-bottom : 1px solid #efefef;}
#tablestyle td {border-bottom : 1px solid #efefef;}
#tablestyle th {font-weight: 440; height : 40px; border-bottom : 1px solid #efefef;}
#inputbox01 {border : none; background : transparent; width : 100%; height : 100%;}
#button01 {border: 1px solid #c0c0c0;
  color: #004040;
  background-color:#ffffff;
  font-size:20px;
  border-radius:5px;
  margin:10px;
  width: 20%;
  height:50px;}